extend ../layouts/layout-main
block content
    p #{time}
    table
        tr
            th ID
            th User
            th Email
            th Age
            //- th Q1
            //- th Q2
            //- th Q3
        each user in users
            tr
                td #{user.id}
                td #{user.username}
                td #{user.email}
                td #{user.age}          