extend ../layouts/layout-main
block page-title
    h1 Admin
block content
    table(class='table')
        thead
            tr
                th ID
                th Username
                th Role
                th Email
                th Age
                th Q1
                th Q2
                th Q3
                th
                th
        tbody
            each user in users
                tr
                    td #{user.id}
                    td #{user.username}
                    td #{user.role}
                    td #{user.email}
                    td #{user.age}
                    td #{user.answer1}
                    td #{user.answer2}
                    td #{user.answer3}                
                    td 
                        a(href='/edit/' + user.id) Edit
                    td 
                        a(href='/delete/' + user.id) Delete