extends ../layouts/layout-main
block content
    each question, index in questions
        div(class="graph")
            h2(class="question-title") #{question.question}
            ul(class="question-list") 
                each answer in question.answers
                    li(class="question-items")
                        p #{answer.value}
            canvas(id="graph" + (index + 1))
block script
    script.
        var graph1Answers = [#{ans1}];
        var graph2Answers = [#{ans2}];
        var graph3Answers = [#{ans3}];
        var graph1AnswerNames = [#{answerNames1}];
        var graph2AnswerNames = [#{answerNames2}];
        var graph3AnswerNames = [#{answerNames3}];
    script(src = "/js/bargraph.js")
