extends ../layouts/layout-main
block page-title
    h1 Home
block content
    div(class="graph-container")
        each question, index in questions
                div(id="graph" + (index + 1) class="graph")
                    h4(class="question-title") #{question.question}
                    hr(class='separator')
                    ul(class="question-list") 
                        li(class="question-items")
                            p(class='question-qualifier') 1.
                            p #{question.answer1}
                        li(class="question-items")
                            p(class='question-qualifier') 2.
                            p #{question.answer2}
                        li(class="question-items")
                            p(class='question-qualifier') 3.
                            p #{question.answer3}
                        li(class="question-items")
                            p(class='question-qualifier') 4.
                            p #{question.answer4}
                    canvas(id="graph-canvas-" + (index + 1) class="graph-canvases")
block script
    script.
        var graph1Answers = [#{ans1}];
        var graph2Answers = [#{ans2}];
        var graph3Answers = [#{ans3}];
        var graph1AnswerNames = [#{answerNames1}];
        var graph2AnswerNames = [#{answerNames2}];
        var graph3AnswerNames = [#{answerNames3}];
    script(src = "/js/bargraph.js")
