extend ../layouts/layout-main
block page-title
    h1 Register
block content
    div(id="register")
        form(id="form" method="post", action="/register" class="form")
            fieldset
                label(class="form-label") Username
                input(type="text" name="userName")
                label(class="form-label") Password
                input(type="password", name="password")
                label(class="form-label") Email
                input(type="text", name="email")
                label(class="form-label") Age
                input(type="number", name="age")
                div
                    each question, index in questions
                        ul 
                            label(class='form-label') #{question.question}
                                //- - console.log("" + (index + 1) +  " " + (answer.id));
                            li
                                input(type='radio' name="answer" + (index + 1) value=1)                                    
                                label #{question.answer1}
                            li
                                input(type='radio' name="answer" + (index + 1) value=2)                                    
                                label #{question.answer2}
                            li
                                input(type='radio' name="answer" + (index + 1) value=3)                                    
                                label #{question.answer3}
                            li
                                input(type='radio' name="answer" + (index + 1) value=4)                                    
                                label #{question.answer4}
            input(type="submit" value="Submit" class='form-btn')
